{% extends 'admin/base.html.twig' %}

{% form_theme form _self %}
{% block _job_logo_widget %}
    {% if form.vars.data %}
        <img class="media-object" src="{{ asset(jobs_web_directory ~ '/' ~ form.vars.data.filename) }}" style="width:100px; height:100px;">
    {% endif %}
    {{ form_widget(form) }}
{% endblock %}

{% block body %}
    <h1>Edit job</h1>

    {% include 'admin/job/_form.html.twig' %}

    <a href="{{ path('admin.job.list') }}" class="btn btn-default">
        <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>
        back to list
    </a>
{% endblock %}
