{% extends 'admin/base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr class="active">
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Email</th>
                <th>URL</th>
                <th>Activated</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.company }}</td>
                    <td>{{ job.position }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.email }}</td>
                    <td>{{ job.url }}</td>
                    <td>
                        {% if job.activated %}
                            <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-default" href="{{ path("admin.job.edit", {id: job.id}) }}">Edit</a>
                            </li>

                            <li>
                                <form method="post" action="{{ path('admin.job.delete', {id: job.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input name="_method" type="hidden" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(jobs) }}
    </div>

    <a class="btn btn-success" href="{{ path("admin.job.create") }}">Create new</a>
{% endblock %}
