{% extends "base.html.twig" %}
{% block title %}
    {{ 'Jobs in the %category% category'|trans({'%category%': category.name}) }}
{% endblock %}
{% block body %}
    {% include 'job/_job_history.html.twig' with {'historyJobs': historyJobs} only %}
    <h4>{{ category.name }}</h4>
    {% include "job/table.html.twig" with {'jobs': activeJobs} only %}
    <div class="navigation text-center">
        {{ knp_pagination_render(activeJobs) }}
    </div>
{% endblock %}
