<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Control Panel:</span>
        </div>

        <div class="collapse navbar-collapse">
            {{ form_start(deleteForm, {"attr": {"class": "navbar-form navbar-left"}}) }}
            {{ form_widget(deleteForm) }}
            <button class="btn btn-default" onclick="return confirm('Are you sure?')" type="submit">
                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                Delete
            </button>
            {{ form_end(deleteForm)}}

            {% if job.activated %}
                {% if job.expiresAt < date() %}
                    <p class="navbar-text">{{ 'Expired'|trans }}</p>
                {% else %}
                    {% set daysToExpiring = job.expiresAt.diff(date())|date('%a') %}

                    {% transchoice daysToExpiring with {'%days%': daysToExpiring} %}
                        ]-Inf,0] Expired|{1}Expires in 1 day|]1,Inf[ Expires in %days% days
                    {% endtranschoice %}
                {% endif %}

                {% if job.expiresAt.diff(date())|date('%a') < 5 %}
                    <a class="btn btn-default navbar-btn" href="#">
                        <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span>
                        Extend (for another 30 days)
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-default navbar-btn" href="{{ path('job.edit', { 'token': job.token }) }}">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                    Edit
                </a>

                {{ form_start(publishForm, {attr: {class: "navbar-form navbar-left"}}) }}
                {{ form_widget(publishForm) }}
                <button class="btn btn-default" type="submit">
                    <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                    Publish
                </button>
                {{ form_end(publishForm) }}
            {% endif %}

            <p class="navbar-text navbar-right">
                [Bookmark this
                <a href="{{ url('job.preview', {token: job.token}) }}">URL</a>
                to manage this job in the future]
            </p>
        </div>
    </div>
</nav>
