<table class="table table-center">
    <thead>
        <tr>
            <th class="active text-center"></th>
            <th class="active text-center"></th>
            <th class="active text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.location }}</td>
                <td>
                    <a href="{{ path('job.show', {id: job.id}) }}">
                        {{ job.position }}
                    </a>
                </td>
                <td>{{ job.company}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
