<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Jobeet - Admin
            {% endblock %}
        </title>

        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        {% block javascripts %}
            {% block stylesheets %}{% endblock
        %}
        {% endblock %}

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Jobeet Admin</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <div>
                                    <a href="{{ path('admin.category.list') }}" class="btn btn-default navbar-btn">Admin Panel</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if app.user %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    {% set currentRouteName = app.request.get("_route") %}
                    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                        <li role="presentation" {% if currentRouteName starts with "admin.category." %} class="active" {% endif %}>
                            <a href="{{ path("admin.category.list") }}">Categories</a>
                        </li>

                        <li role="presentation" {% if currentRouteName starts with "admin.job." %} class="active" {% endif %}>
                            <a href="{{ path("admin.job.list") }}">Jobs</a>
                        </li>
                        <li role="presentation" {% if currentRouteName starts with 'admin.affiliate.' %} class="active" {% endif %}>
                            <a href="{{ path('admin.affiliate.list') }}">Affiliates</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-10"> {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </body>
    </html>
</body></html>
