{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Edit category "{{ category.name }}"</h1>

    {% include "admin/category/_form.html.twig" with {"form": form} only %}

    <a href="{{ path('admin.category.list') }}" class="btn btn-default">
        <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>
        back to list
    </a>
{% endblock %}
