<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                {{ 'Jobeet - Your best job board'|trans }}
            {% endblock %}
        </title>


        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/> {% block stylesheets %}{% endblock %}

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    -
                    <a class="navbar-brand" href="{{ path('job.list') }}">Jobeet</a>
                    +
                    <a class="navbar-brand" href="{{ path('job.list') }}">{{ 'Jobeet'|trans }}</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <div>
                                    -
                                    <a href="{{ path('admin.category.list') }}" class="btn btn-default navbar-btn">Admin Panel</a>
                                    +
                                    <a href="{{ path('admin.category.list') }}" class="btn btn-default navbar-btn">{{ 'Admin Panel'|trans }}</a>
                                </div>
                            </li>
                        {% endif %}

                        <li>
                            <div>
                                -
                                <a href="{{ path('affiliate.create') }}" class="btn btn-default navbar-btn">Affiliates</a>
                                +
                                <a href="{{ path('affiliate.create') }}" class="btn btn-default navbar-btn">{{ 'Affiliates'|trans }}</a>
                            </div>
                        </li>

                        <li>
                            <div>
                                -
                                <a href="{{ path('job.create') }}" class="btn btn-default navbar-btn">Post a Job</a>
                                +
                                <a href="{{ path('job.create') }}" class="btn btn-default navbar-btn">{{ 'Post a Job'|trans }}</a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ app.request.locale|upper }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for locale in locales %}
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">{{ locale|upper }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% if app.user %}
                            -
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </li>
                            +
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container"> {% block body %}{% endblock %}
            {{ dump(app.request.locale) }}
        </div>

    </body>
</html>
